* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {
    background-image: url(./assets/background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    width: 375px;
    padding: 25px 24px;
    border-radius: 20px;
    background-color: #242323;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 35px;
}

.title-select {
    line-height: 18px;
    color: #ffffff;
    margin: 17px 0 5px;
    position: relative;
    right: 107px;
}

#one {
    right: 4px;
}

#two {
    position: relative;
    right: 30px;
}

b {
    font-weight: 900;
    line-height: 18px;
}

.inputs {
    width: 317px;
    height: 48px;
    border: none;
    border-radius: 4px;
    border-color: #bbbbbb;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    background: #363636;
    appearance: none;
    padding: 0 0 0 10px;
    color: white;
}

button {
    width: 327px;
    height: 48px;
    margin: 23px 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #aea7a3;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
    color: #000000;
}

button:active {
    opacity: 0.6;
}

#result {
    Width: 327px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 0 auto;
    border: none;
    text-align: center;
    background-color: #DCDCDC;
}

.img-currency {
    width: 44px;
    height: 44px;
    mix-blend-mode: multiply;
}

.seta {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 35px;
    height: 40px;
}

.usa {
    width: 125px
}

.name-currency {
    width: 125px;
    height: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 3px 0;
    color: #777777;
}

.value-currency {

    height: 18px;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    color: #555555;
}

@media screen and (max-width: 990px) {

    body {
        height: 100vh;
        display: flex;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        /* Adicionado */
        object-fit: cover;
    }

    main {
        width: 80%;
        height: 100%;
        margin: auto;
        height: auto;
        padding-bottom: 30px;
        background-color: transparent;
    }

    .title-select {
        line-height: 18px;
        color: #ffffff;
        margin: 17px 0 5px;
        position: relative;
        right: 72px;
    }

    #one {
        right: 6px;
    }

    span {
        position: relative;
        right: 32px;
    }

    .inputs {
        width: 254px;
    }

    button {
        width: 264px;
    }

    section {
        margin: auto;
        border: none;
        width: 90%;
    }

    #result {
        Width: 230px;
        height: 260px;
        padding: 10px 5px;
    }

}